main {
  min-height: 80vh;
}

.ml-auto {
  margin-left: auto;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.card {
  height: 100%;
}
.card-body {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-title-container {
  flex-grow: 1;
}

.minus,
.plus {
  padding: 0 8px;
}
.qty-label {
  padding: 0px 10px;
}
